<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">ExactOnline</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <select class="form-control" *ngIf="loaded">
                        <option *ngFor="let account of accounts" [value]="activeAccount">{{account.DivisionCustomerName}}</option>
                    </select>
                </div>
            </form>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
       <div class="main">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar" *ngIf="loaded">
                <li><a routerLink="/journals" routerLinkActive="active">History Suppliers</a></li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <router-outlet></router-outlet>
        </div>
        </div>
    </div>
</div>